<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <dubbo:application name="demo-web"/>

    <dubbo:protocol name="dubbo"/>

    <dubbo:registry address="127.0.0.1:2181" register="false"/>

    <dubbo:reference id="activityExportService" interface="com.demo.support.export.ActivityExportService"
                     url="dubbo://localhost:20880" check="false"/>

    <dubbo:reference id="productExportService" interface="com.demo.support.export.ProductExportService"
                     url="dubbo://localhost:20880" check="false"/>

    <dubbo:reference id="settlementExportService" interface="com.demo.support.export.SettlementExportService"
                     url="dubbo://localhost:20880" check="false"/>
</beans>